::ng-deep .mat-horizontal-stepper-header-container {
  width: 50%;
  margin: 0 auto;
}
  
  .mat-form-field {
    margin-top: 16px;
  }

.leftslide{
  background-color: rgba(70, 128, 227, 1);
}
.imagecruz{
  margin-top: 30vh;
}